<h2>Do you work at Red Gate?</h2>
<p>Please <%= link_to "log in", new_session_path %>.</p>

<h2>Are you applying for a job at Red Gate?</h2>
<p>As part of your application process, we may ask you to do short online bug hunt.  If so, you will receive an email from us with a link to the test.</p>