<p>The bug hunt has ended; all adventuring must cease!  We hope you enjoyed trying to break the application and look forward to hearing which bugs you found.</p>
<p>Please email the bugs you found to <%= mail_to "careers@red-gate.com" %>.  We will endeavour to reply within seven days of receiving your email.</p>